<div id = "wrapper">
  <div id = "pageTitle">
    <h1 class = "mainHeading">Listing posts</h1>
  </div>
  <% @posts.each do |post| %>
    <div class = "postContainer" >
      
      <div class = "title">    
        <h3><%= post.title %>
          <!-- <span class = "postTitle"></span> -->
        </h3>
      </div>      
      <div class = "bodyContainer">        
        <h3> :: Message ::<div title = "Delete Post" class = "destroy_1" ><%= link_to 'X', post, method: :delete, data: { confirm: 'Are you sure?' } %></div></h3>
        <span class = "postBody"><%= post.body.truncate(500, omission: "... (continued)") %></span>      
      </div>
      <div id = "controls">
        <div title = "View Post"  class = "controls" ><%= link_to 'Show', post %></div>
        <div title = " Post" class = "controls" ><%= link_to 'Edit', edit_post_path(post) %></div>
        <div title = "Delete Post" class = "destroy_2" ><%= link_to 'X', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
      
    </div>
  <% end %>
  <br />
  <div id = "newPost" >   
    <h3><%= link_to 'New Post' , new_post_path %><h3>
  </div>
</div>
