<div id = "wrapper">
	
	<div id = "pageTitle">
		
		<h1 class = "mainHeading"><%= @post.title %><span class = "notice"><%= notice %></span></h1>

	</div>

	<div id = "blogEntry">
		
		
		<div id = "postBody">
			
			  <h3>:: message body ::</h3>
			  	<p class = "body">
				  	<%= @post.body %>
				</p>
			

			<div id = "editControls">

				<%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Back', posts_path %>
				
			</div>
			

		</div>

		<div id = "commentsBody">

			<!-- Display comments -->
			<h3 class  = "commentsHeading" >:: Comments Section ::</h3>
			<%= render @post.comments %>

			<!-- Display comments Form-->
			<h2 class  = "commentsHeading" >Add a comment:</h2>
			<%= render "comments/form" %>

			<div id = "backControls">

			<%= link_to 'Back', posts_path %>
				
		</div>

		</div>
		

	</div>
</div>




